body{
    background-color: beige;
}
i{
    font-size: 0.75em;
    line-height: 0.75;
}
.red{
    color: red;
}
.row-cols-1>.col,
.row-cols-2>.col,
.row-cols-3>.col{
    margin-top: 16px;
}
.container:last-child{
    margin-bottom: 64px;
}
.card{
    height: 100%;
}
.card-header{
    font-size: 1.5em;
    font-weight: 600;
    color: white;
    background-color: darkgoldenrod;
}
.card-body .row{
    margin-top: 10px;
}
.card-body .row:not(:last-child){
    border-bottom: 1px solid lightgray;
    margin-top: 10px;
}
.card-body p{
    margin-bottom: 0;
}